<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <a href="/">Home</a>
    |
    <a href="/books">All Books</a>
    <h1>Card Catalog</h1>